Repository googleapis/python-texttospeech, pull requests merged in 2020-08, with the labels that each got.

#76 chore(py_library): add split_system_tests
  .kokoro/build.sh
  noxfile.py
  synth.metadata
Labels: cla: yes, context: full, kokoro:run

#77 chore(py_library): add some excludes in docs/conf.py
  docs/conf.py
  synth.metadata
Labels: cla: yes, context: full

#81 chore: enable snippet-bot
  .github/snippet-bot.yml
Labels: cla: yes

#82 feat: support custom client info
  google/cloud/texttospeech_v1/services/text_to_speech/async_client.py
  google/cloud/texttospeech_v1/services/text_to_speech/client.py
  google/cloud/texttospeech_v1/services/text_to_speech/transports/base.py
  google/cloud/texttospeech_v1/services/text_to_speech/transports/grpc.py
  google/cloud/texttospeech_v1/services/text_to_speech/transports/grpc_asyncio.py
  google/cloud/texttospeech_v1beta1/services/text_to_speech/async_client.py
  google/cloud/texttospeech_v1beta1/services/text_to_speech/client.py
  google/cloud/texttospeech_v1beta1/services/text_to_speech/transports/base.py
  google/cloud/texttospeech_v1beta1/services/text_to_speech/transports/grpc.py
  google/cloud/texttospeech_v1beta1/services/text_to_speech/transports/grpc_asyncio.py
  synth.metadata
  tests/unit/gapic/texttospeech_v1/test_text_to_speech.py
  tests/unit/gapic/texttospeech_v1beta1/test_text_to_speech.py
Labels: api: texttospeech, cla: yes, context: none
