Repository googleapis/python-texttospeech, pull requests merged in 2021-03, with the labels that each got.

#97 chore: add constraints file
  testing/constraints-3.10.txt
  testing/constraints-3.11.txt
  testing/constraints-3.6.txt
  testing/constraints-3.7.txt
  testing/constraints-3.8.txt
  testing/constraints-3.9.txt
Labels: api: texttospeech, automerge, cla: yes

#108 fix: use correct retry deadline
  google/cloud/texttospeech_v1/services/text_to_speech/async_client.py
  google/cloud/texttospeech_v1/services/text_to_speech/transports/base.py
  google/cloud/texttospeech_v1/services/text_to_speech/transports/grpc.py
  google/cloud/texttospeech_v1/services/text_to_speech/transports/grpc_asyncio.py
  google/cloud/texttospeech_v1beta1/services/text_to_speech/transports/base.py
  google/cloud/texttospeech_v1beta1/services/text_to_speech/transports/grpc.py
  google/cloud/texttospeech_v1beta1/services/text_to_speech/transports/grpc_asyncio.py
  synth.metadata
Labels: api: texttospeech, cla: yes, context: full

#106 chore: update synth.metadata
  synth.metadata
  texttospeech-v1beta1-py.tar.gz
Labels: api: texttospeech, automerge, cla: yes, context: none

#110 chore: clean up dependencies and use constraints for testing
  .pre-commit-config.yaml
  UPGRADING.md
  noxfile.py
  setup.py
  synth.metadata
  testing/constraints-3.6.txt
  texttospeech-v1beta1-py.tar.gz
Labels: api: texttospeech, automerge, cla: yes, context: partial

#113 feat:Add ALAW support on client library. And improve the ListVoiceRequest message's documentation
  google/cloud/texttospeech_v1beta1/services/text_to_speech/async_client.py
  google/cloud/texttospeech_v1beta1/services/text_to_speech/client.py
  google/cloud/texttospeech_v1beta1/types/cloud_tts.py
  synth.metadata
Labels: api: texttospeech, cla: yes, context: full

#112 chore: track obsolete files
  synth.metadata
  texttospeech-v1beta1-py.tar.gz
Labels: api: texttospeech, cla: yes, context: none

#115 build(python): update docfx job to use new plugin
  noxfile.py
  synth.metadata
  texttospeech-v1beta1-py.tar.gz
Labels: api: texttospeech, cla: yes, context: partial
